<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>school</mat-icon>
    </button>
    <span>BLADE SCHOOL </span>
    <span class="example-spacer"></span>
    <button #stafflist mat-raised-button color="warn" (click)="openDialog()">
      Add Staff
    </button>
  </mat-toolbar>
</p>
