<h1 mat-dialog-title>{{ heading }}</h1>
<div mat-dialog-content>
  <form [formGroup]="staffdetails">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Staff name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <input
        formControlName="age"
        matInput
        type="number"
        placeholder="Staff age"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date-of-birth</mat-label>
      <input
        formControlName="dob"
        matInput
        [matDatepicker]="picker"
        placeholder="MM/DD/YYYY"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Degree background</mat-label>
      <mat-select
        formControlName="degreeBackground"
        placeholder="Eduction background"
      >
        <mat-option value="Commerce">Commerce</mat-option>
        <mat-option value="Computer science">Computer science</mat-option>
        <mat-option value="Engineering">Engineering</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name of degree</mat-label>
      <input formControlName="degree" matInput placeholder="Degree" />
    </mat-form-field>
    <!-- <mat-form-field appearance="outline"> -->
    <label for="">
      <h3>Experience level</h3>
    </label>
    <mat-radio-group formControlName="experience" class="example-radio-group">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let y of years"
        [value]="y"
        >{{ y }}</mat-radio-button
      >
    </mat-radio-group>
    <!-- </mat-form-field> -->
    <mat-form-field appearance="outline">
      <mat-label>Contact</mat-label>
      <input
        formControlName="contact"
        matInput
        type="number"
        placeholder="+91 00000 00000"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Salary</mat-label>
      <input
        formControlName="salary"
        matInput
        type="number"
        class="example-right-align"
        placeholder="0"
      />
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      <button
        mat-raised-button
        color="primary"
        mat-dialog-close
        (click)="addstaff()"
      >
        {{ action }}
      </button>
    </div>
  </form>
</div>
