<!-- <a routerLink="demo2">Demo2</a> -->

<!-- <a routerLink="demo1">Demo1</a><br />
<button (click)="goto()">Demo2</button> -->
<!-- <app-contentdbox></app-contentdbox> -->
<!-- <app-stafflist></app-stafflist> -->
<app-toolbarview></app-toolbarview>
<app-allstaffaccount></app-allstaffaccount>
<router-outlet></router-outlet>
